*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-content{
    min-height: 100vh;
    background: rgb(153, 232, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.main-content h1{
    color: #fff;
    margin-bottom: 15px;
    text-shadow: 0 2px 5px  #000;
}

footer h5{
    color: rgb(151, 143, 68);
    margin-top: 10px;
}

.box{
    width: 500px;
    max-width: 500px;
    margin: 0 auto;
    background: rgb(237, 247, 196);
    padding: 20px;
    height: 500px;
    max-height:500px ;
    border: 10px solid rgba(0, 0, 0,0.5);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.main-content .box .input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main-content .box .input input.text-bar{
    width: 100%;
    padding: 5px 20px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 20px;
}

.main-content .box .input input.text-bar:focus{
    background: #fff;
    outline: none;
    box-shadow: 0 8px 8px -10px #000;
}
.main-content .box .input input.btn{
    font-size: 16px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 20px;
    background: rgba(15, 255, 15,.5);
    border: 1px solid #000;
    box-shadow: none;
    cursor: pointer;
    outline: none;
}

.main-content .box .input input.btn:focus{
    background: lime;
}
.main-content .text {
    overflow-Y: auto;
}

.main-content .text .todo-list{
    list-style: none;
    font-size: 16px;
}

.main-content .text .todo-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid rgb(3, 49, 134);
    font-size: 18px;
}

.main-content .text .todo-list li i.fa-times-circle{
    color: red;
    cursor: pointer;
}

.main-content .text .todo-list li .text-list i{
    margin-left: 20px;
    color: #ccc;
    opacity: 0.5;
}

.main-content .text .todo-list li .text-list span{
    cursor: pointer;
}

.main-content .text .todo-list li .text-list span.active{
    color: #ccc;
}

.main-content .text .todo-list li .text-list i.active{
    color: rgb(61, 219, 61);
    opacity: 1;
}